<?xml version="1.0" encoding="utf-8"?>
<manifest package="vineet.kalpnil.uddhav.com.vukhotel"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".Main2Activity"
            android:label="HOME">
        </activity>
        <activity
            android:name=".RoomAvailability"
            android:label="ROOM AVAILABILITY">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity"/>
        </activity>
        <activity
            android:name=".roomservice"
            android:label="ROOM SERVICE">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity"/>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="REGISTER">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity"/>
        </activity>
        <activity
            android:name=".bookRoom"
            android:label="ROOM BOOKING">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity"/>
        </activity>
        <activity
            android:name=".checkout"
            android:label="CHECKOUT">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity"/>
        </activity>
        <activity
            android:name=".bill"
            android:label="BILL">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main2Activity"/>
        </activity>
    </application>

</manifest>
